{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Uni Therapy</title>
    <link rel="stylesheet" href="{% static '/css/forms.css' %}">
</head>
<div class="container">
    <div class="login form">
      <header>Login</header>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <input type="text" id="username" name="username" placeholder="Enter your username">
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <input type="submit" class="button" value="Login">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <a href="{% url 'register' %}">Signup</a>
        </span>
      </div>
    </div>
</div>