{% extends "dashboard/base.html" %}
{% block page_title %}<title>User Profile</title>{% endblock page_title %}
{% block page_content %}
<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>My Appointments</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">My Appointment</li>
								</ol>
							</nav>
						</div>
						<div class="col-md-6 col-sm-12 text-right">
							<div class="dropdown" style="display: none;">
								<a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
									January 2018
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Export List</a>
									<a class="dropdown-item" href="#">Policies</a>
									<a class="dropdown-item" href="#">View Assets</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pd-20 card-box mb-30">
					<div class="clearfix mb-20">
						<div class="pull-left">
							<h4 class="text-blue h4">List of Appointments</h4>
						</div>
					</div>
					<table class="table">
					    <thead>
					        <tr>
					            <th scope="col">#</th>
					            <th scope="col">Date</th>
					            <th scope="col">Staff</th>
					            <th scope="col">Remarks</th>
					            <th scope="col">Status</th>
					        </tr>
					    </thead>
					    <tbody>
					        {% for appointment in appointments %}
					        <tr>
					            <th scope="row">{{ forloop.counter }}</th>
					            <td>{{ appointment.date }}</td>
					            <td>{{ appointment.staff.username }}</td>
					            <td>{{ appointment.remarks }}</td>
					            <td>
					                {% if appointment.status == 'P' %}
					                <span class="badge badge-primary">Pending</span>
					                	{% elif appointment.status == 'A' %}
					                		<span class="badge badge-success">Approved</span>
					                	{% elif appointment.status == 'R' %}
					                		<span class="badge badge-danger">Rejected</span>
					                {% endif %}
					            </td>
					        </tr>
					        {% empty %}
					        <tr>
					            <td colspan="5">No appointments found.</td>
					        </tr>
					        {% endfor %}
					    </tbody>
					</table>
				</div>
				<!-- basic table  End -->
</div>
{% endblock page_content %}